.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: 80px;
    /* Espaço para a sidebar fixa */
    padding: 20px;
    background-color: #f8f9fa;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin-left: 60px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 50px;
        padding: 10px;
    }
}